
<div class="container">
    <nav>
        <div class="logo">
            <h4>ZOONDIA | FORGET PASSWORD</h4>
        </div>
    </nav>
    <div class="home">
        
    <div class="login">
        <form (ngSubmit)="submit()">
        <label for="password">Enter New Password : </label>
        <input type="text" name="password" id="password" [(ngModel)]="changepass.password"><br><br>
        <label for="repassword">Re-Type New Password : </label>
        <input type="text" name="repassword" id="repassword" [(ngModel)]="changepass.repassword"><br><br>
        
        
        
        
        <button class="success" type="submit"><b>SUBMIT</b></button>
        <button class="danger" type="button" (click)="home()"><b>BACK TO HOME</b></button>
        </form>
        
    </div>
    </div>
</div>
