<div class="container">
    <div class="input">
        <div class="heading">
            <h4>GENERATE SALARY | ZOONDIA</h4>
        </div>
        <div class="table">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Emplyoee Name</th>
                    <th>Salary Date</th>
                    <th>Salary For</th>
                    <th>Basic Pay</th>
                    <th>Deductions</th>
                    <th>Bonus</th>
                    <th>Total Amount</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr *ngFor = "let data of salaryarray">
                    <td>{{data.salary_id}}</td>
                    <td>{{data.employee_name}}</td>
                    <td>{{data.salary_date}}</td>
                    <td>{{data.salary_month}}</td>
                    <td>{{data.base_package}}</td>
                    <td>{{data.deducted_amount}}</td>
                    <td>{{data.bonus_amount}}</td>
                    <td>{{data.total_amount}}</td>
                    
                    <td><button class="success" (click)="generate(data.salary_id)">Generate</button></td>
                    <td><button class="danger" (click)="delete(data.salary_id)">Delete</button></td>
                </tr>
            </table>
            
        </div>
    </div>
</div>