nav{
    background-color:antiquewhite;
    padding: 20px;
    height: 60px;
}

nav h4{
    color:orange;
    letter-spacing: 3px;
    text-align: center;

}

.login{
    margin-top: 10%;
    text-align: center;
    width: 20%;
    border-style: outset;
    padding: 2%;
    border-radius: 10px;
    
}

.home{
    display: flex;
    justify-content: center;
}

.login button{
    padding: 20px;
    width: 98%;
    text-transform: uppercase;
    letter-spacing: 3px;
    
    border-radius: 5px;
    border-style: none;
}



.login input{
    padding: 10px;
    width: 13%;
    margin: 10px;
    height: 40px;
    font-size:x-large;
    text-align: center;
}

.login label{
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.password{
    margin-top:20px;

}

.password a{
    text-decoration:none;
    letter-spacing: 2px;
}

button{
    margin-bottom: 10px;
}

.danger{
    background-color: red;
    color: white;
}

.danger:hover{
    background-color: rgb(150, 46, 46);
}

.success{
    margin-top: 10%;
    background-color: antiquewhite;
}

.success:hover{
    background-color: rgb(207, 196, 181);
}