<div class="container">
    <div class="count">
        <div class="count-box">
           
                <span>{{casual_leave}}</span>
            
            
            <p>Number of Casual Leaves Remaining</p>
            <p style="margin-top: -16px;">This Year</p>
        </div>
    </div>
    <div class="count">
        <div class="count-box">
            <span>{{sick_leave}}</span>
            <p>Number of Sick Leaves Remaining</p>
            <p>This Year</p>
        </div>
    </div>
    <div class="count">
        <div class="count-box">
            <span>{{paid_leave}}</span>
            <p>Number of Paid Leaves Taken</p>
            <p>This Year</p>
        </div>
    </div>

    <div class="count">
        <div class="count-box">
            <span>{{halfleave}}</span>
            <p>Number of Half Day Leaves LEFT</p>
            <p>This Year</p>
        </div>
    </div>

    <!--  Month  -->

    <div class="count">
        <div class="count-box">
           
                <span>{{casual_leavem}}</span>
            
            
            <p>Number of Casual Leaves Remaining</p>
            <p style="margin-top: -16px;">THis Month</p>
        </div>
    </div>
    <div class="count">
        <div class="count-box">
            <span>{{sick_leavem}}</span>
            <p>Number of Sick Leaves Remaining</p>
            <p>This Month</p>
        </div>
    </div>
    <div class="count">
        <div class="count-box">
            <span>{{paid_leavem}}</span>
            <p>Number of Paid Leaves Taken</p>
            <p>This Month</p>
        </div>
    </div>

    <div class="count">
        <div class="count-box">
            <span>{{halfleavem}}</span>
            <p>Number of Half Day Leaves LEFT</p>
            <p>This Month</p>
        </div>
    </div>
    
    
    
    
    
</div>