<div class="container">
    <div class="input">
        <div class="heading">
            <h4>ADD EMPLOYEE | ZOONDIA</h4>
        </div>
        <div class="input-fields">
        <form (ngSubmit)="submit()">
            <div class="label">
            
                <br>
                <label for="emp_name">Enter Employee Name   </label><br><br><br>
                <label for="emp_post">Enter Employee Post  </label><br><br><br>
                <label for="emp_pay">Enter Basic Pay  </label><br><br><br>
                <label for="emp_login">Create ZOOHR LoginID  </label><br><br><br>
                <label for="emp_pass">Create PASSCODE  </label><br><br><br>
                <label for="emp_repass">Re-Type PASSCODE  </label><br><br>
            </div>
            <div class="inputs">
                <input type="text" id="emp_name" name="emp_name" [(ngModel)]="emp.emp_name"><br><br>
                <input type="text" id="emp_post" name="emp_post" [(ngModel)]="emp.emp_post"><br><br>
                <input type="text" id="emp_pay" name="emp_pay" [(ngModel)]="emp.emp_pay"><br><br>
                <input type="text" id="emp_login" name="emp_login" [(ngModel)]="emp.emp_login"><br><br>
                <input type="password" id="emp_pass" name="emp_pass" [(ngModel)]="emp.emp_pass"><br><br>
                <input type="text" id="emp_repass" name="emp_repass" [(ngModel)]="emp.emp_repass"><br><br>
            
            </div>
            
            <button class="add" type="submit"> ADD EMPLOYEE</button>
        </form>
        </div>
    </div>
</div>