.container{
    padding: 10px;
    float: left;
    width: 73%;
    
}

.heading{
    text-align: center;
    letter-spacing: 2px;

}

.input-fields{
    width:100%;
    padding: 10px;
    margin-top: 5%;
    text-align: left;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.input-fields input{
    padding: 10px;
    width: 80%;
    letter-spacing: 2px;
    
}
.label{
    float: left;
    width: 20%;
    margin-right: 20px;
}

button{
    padding:20px;
    width: 100%;
    letter-spacing: 2px;
    background-color: rgb(47, 180, 47);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
}

.inputs{
    float: left;
    width: 50%;
}
