nav{
    padding: 10px;
    background-color: antiquewhite;
    height: 60px;
}


nav .logo{
    color:orange;
    letter-spacing: 3px;
    float: left;
    letter-spacing: 2px;
    margin-left: 10px;

}

nav .list{
    float: right;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.side-bar{
    float: left;
    width: 25%;
    background-color:aliceblue;
    
    

}

.side-bar li{
    list-style-type: none;
    padding: 20px;
    display: block;
    text-align: center;
    background-color:antiquewhite;
    margin-top: 10px;
    margin-bottom: 10px;
}

.side-bar li a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: small;
    padding:20px;
    
}

.side-bar li:hover{
    background-color: aliceblue
}

.logout:hover{
    cursor: pointer;
}

li span{
    background-color: red;
    padding:10px;
    border-radius: 50%;
    color: white;
    
}